@model MVCwithAuth.Models.Message

<div class="plexSerif">
    @{
        ViewData["Title"] = "Create";
    }

    <h1>Create archive bibliography</h1>

    <!-- <h4>Archive</h4> -->

    <!-- took out hr -->
    <!-- <hr /> -->
    <div class="itemsBackground itemsInContainer messageMargin">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create" class="itemsInContainer">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Author" class="control-label"></label>
                            <input asp-for="Author" class="form-control" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>            

                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Publisher" class="control-label"></label>
                            <input asp-for="Publisher" class="form-control" />
                            <span asp-validation-for="Publisher" class="text-danger"></span>
                        </div>            

                        <div class="form-group">
                            <label asp-for="Year" class="control-label"></label>
                            <input asp-for="Year" class="form-control" />
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>            

                        <div class="form-group">
                            <label asp-for="Tags" class="control-label"></label>
                            <input asp-for="Tags" class="form-control" />
                            <span asp-validation-for="Tags" class="text-danger"></span>
                        </div>            
                        
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <input asp-for="Content" class="form-control" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>       

                        <div class="form-group hideThis">
                            <label asp-for="userEmail" class="control-label"></label>
                            <input asp-for="userEmail" class="form-control" />
                            <span asp-validation-for="userEmail" class="text-danger"></span>
                        </div>                      
                    
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <span class="pmLinks"><a asp-action="Index">Back to List</a></span>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>
