@{
    Layout="_Landing";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center homePage">
    <!-- <h1 class="display-4">Welcome</h1> -->
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <h4 class="typewriter firstAnimation plexMonoBold typeBG">An archive management system for historians.</h4>
    <h4 class="typewriter secondAnimation plexMonoBold typeBG">Blog and catalog your citations.</h4>
</div>

