/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

/* html {
  font-size: 14px;
  font-family: 'IBM Plex Serif', serif;  
} */

@media (min-width: 768px) {
  html {
    font-size: 16px;
    }
}

.border-top {
  border-top: none;
}

.layoutFooter{
  max-height: 15px;
}
.border-bottom {
  /* border-bottom: 1px solid #e5e5e5; */
  border-bottom:none;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 15px;
  line-height: 15px; /* Vertically center the text there */
}

.oldFont{
  font-family: 'UnifrakturCook', cursive;
  font-weight: 700;
}

#title{
  font-size: 2em;
  padding-top: 40px;
}

.navTitles{
  font-size: 1.4em;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 70px;
}

/*
.typewriter { 
  overflow: hidden; /* Ensures the content is not revealed until the animation * /
  border-right: .15em solid black; /* The typewriter cursor * /
  white-space: nowrap; /*Keeps the content on a single line* /
  margin: 0 auto; /* Gives that scrolling effect as the typing happens * /
  letter-spacing: .15em; /* Adjust as needed * /
  animation: 
    typing 7.5s steps(44),
    blink-caret .75s step-end;
}

/* The typing effect * /
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect * /
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #808080; }
}


.typewriterPadding{
  padding-top: 50px;
  padding-bottom: 50px;
}
*/

.typewriter{
  overflow: hidden; 
  border-right: .15em solid black; 
  white-space: nowrap; 
  text-align: left;
  /* margin: 0 auto;  */
  /* letter-spacing: .15em;    */
  /*animation: 
    animated-text 6s steps(60,end) 1s 1 normal both,
    animated-cursor 1200ms steps(60,end);
  animation-delay: 2s;
  */
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 650px;}
}

/* recent comment out */
/*
@keyframes animated-cursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}
*/

/* blink caret design */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000000; }
}

.firstAnimation{
  border-right: .15em solid transparent;
  animation: 
    animated-text 6s steps(60,end) 1s 1 normal both,
    /* recent comment out */
    /* animated-cursor 1200ms steps(45,end); */
    blink-caret 6s;
  animation-delay: 2s;  
}

.secondAnimation{
  border-right: .15em solid transparent;
  animation:
    animated-text 6s steps(35,end) 1s 1 normal both,
    /* recent comment */
    /* animated-cursor 1200ms steps(45,end), */

    /* recent comment out */
    /* animated-cursor 1200ms step-end, */

    /* recent comment */
    blink-caret 6s;
  animation-delay: 8s;
}

.typeBG{
  background-color: #f5f5dc;
}

.plexSerif{
  font-family: 'IBM Plex Serif', serif;
}

.plexMono{
  font-family: "IBM Plex Mono", italic;
}

.plexMonoBold{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
}

.hideThis{
  display: none;
  visibility: hidden;
}

.homePage{
  padding-top: 15%;
}

.contentCreateHeight{
  line-height: 900%;
  display: inline-block;
  padding: 250px 10px;
}

textarea{
  white-space: pre-wrap;
}

.postTitle{
  font-size: 3em;
  font-style: bold;
}

.postBorder{
  width: 100%;
  height: 5px;
  background: tan;
  /* border-radius: 50% 50%; */
  margin: 5% 0%;
  border: 1px tan;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.itemsBackground{
  /* padding: 20% 20%; */
  /* background: #F4F1E9; lightgrey*/
  /* background: #fbf5dc; tan color*/
  background: #fbf5ba;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #Fbf5ba, #Fefdf6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #Fbf5ba, #Fefdf6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    
  border-radius: 20px;
  width: 100%;
}

.postItemsBackground{
  /* padding: 20% 20%; */
  /* background: #F4F1E9; lightgrey*/
  /* background: #fbf5dc; tan color*/
  background: #fbf5ba;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0d648c, #2d274f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg,transparent,#1b2530),linear-gradient(90deg,#0d648c,#2d274f);
  
  border-radius: 20px;
  width: 100%;
}

/* .itemsInContainer{
  padding: 20px;
  /* margin: 30px; * /
} */

.separatorIndexMessage{
  height: 55px;
}

table thead{
  border: none;
}

/* table-layout fixed, thmcontent 18% */

table {
  table-layout:fixed; 
  width:100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  display: block;
} 

/* display and width -> min-width */
/* #thmcontent{
  display: flex;
  min-width: 18%;
} */

.postIndexContainer{
  width:100%;
  padding:15px 60px;
}

.containerForPagesExceptIndex{
  width:100%;
  padding:20px 40px;
  margin-bottom:10px;
}

.postFont{
  color: white;
  font-family: 'Lato', sans-serif;
}

.postHeadingFont{
  color: #Fbf5ba;
  font-family: 'Roboto', sans-serif;
}

.width100{
  width:100%;
}

.postTimeAndLinks{
  margin-top: 5%;
  width: 100%;
  display: inline-block;
}

.alignLeft{
  /* align-items: left; */
  float: left;
  width:33%;
  /* display: flex; justify-content: flex-start; */
}

.alignLeftLogin{
  /* float: center;*/
  width: 53%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto
}

.alignCenter{
  /* float: center;*/
  width: 33%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto
}

.alignRight{
  /* display: flex; justify-content: flex-end */
  float: right;
  width: 25%;
}

input [type="submit"]{
  font-family: 'UnifrakturCook', cursive;
}

button [type="submit"]{
  font-family: 'UnifrakturCook', cursive;
}

.inlineLinks{
  display: inline-block;
  width: 100%;
}

a:link{
  font-family: 'UnifrakturCook', cursive;
  font-stretch: semi-expanded;
}

a:hover{
  color: #800000;
}

.inline{
  display:inline-block;
  width:100%;
}

.plainLink{
  font-stretch: normal !important;
  background-color: none !important;
  border: none !important;
  padding:0px !important;
  margin:0px !important;
}

.pmLinks{
  background-color: beige;
  border: 1px solid tan;
  border-radius: 6px;
  padding: 1px 4px;
  margin: 2px 0px;
}

.navbarBackground{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2980b9, #6DD5FA, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2980b9, #6DD5FA, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landingBody{
  /* background-image: url("~/image/paper.jpg") no-repeat center center fixed;  */
  /* webkit-background-size: cover; 
  moz-background-size: cover; 
  o-background-size: cover;  */
  /* background-size: cover;
  opacity: 0.4; */

  
  display: block;
  position: absolute;
  z-index: -1;   
  width: 100%;
  height: 100%;
  background-image: url('../image/paper.jpg');
  background-size: cover;
  /* opacity: 0.7; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: scroll;
}

.landingImage{
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../image/paper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.8;
  filter:alpha(opacity=80);  */

  display: block;
  position: absolute;
  z-index: -1;   
  width: 100%;
  height: 100%;
  background-image: url('../image/paper.jpg');
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  opacity: 0.8;
  filter:alpha(opacity=80);
}

.layoutBody{
  background-color: #fefdf7;
  /* background-color: #000000; */
  /* background-color: #fcf9e6; */
  /* background-color: #ffffff; */
}

.postBody{
  /* background-color: #0f171e; */
  background-color:   #201d34;
}

/*
form {
  width: 100%;
}
*/

/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Mono', monospace; 
*/